@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (min-width:1200px) {
    .motopart {
        width: 70vh;
        padding-left: 10px;
    }

    .foot {
        display: none;
    }

    .moto {
        color: #ffffff;
        font-family: "Roboto";
        font-size: 60px;
        font-weight: bold;
    }

    .loginbtn {
        color: #c9a63c;
        font-size: 15px;
        font-family: "Roboto";
        font-weight: bold;
        margin-bottom: 10px;
        border-radius: 40px;
        height: 35px;
        width: 108px;
        border-width: 0px;
    }

    .tripbtn {
        color: #c9a63c;
        font-size: 20px;
        font-family: "Roboto";
        font-weight: bold;
        position: relative;
        border-radius: 40px;
        height: 60px;
        width: 198px;
        border-width: 0px;
    }

    .btnpart {
        width: 30vw;
    }

    .header {
        font-family: "Roboto";
        color: #c9a63c;
        font-weight: bold;
        font-size: 25px;
        width: 30vw;
        padding-left: 10px;
        padding-top: 15px;
    }

    .info {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 70vw;
    }

    li {
        margin-right: 20px;
        font-family: "Roboto";
        font-size: 15px;
    }

    .img {
        height: 400px;
        width: 550px;
    }

    .bodyPart {
        height: 90vh;
        display: flex;
        padding-left: 30px;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
    }

    .flightHead {
        font-family: "Roboto";
        font-weight: bold;
        font-size: 40px;
    }

    .flightPara {
        font-family: "Roboto";
        font-weight: bold;
        font-size: 20px;
    }

    .flightPart {
        display: flex;
        padding: 15px;
        flex-direction: row;
        justify-content: center;
        border: 1px solid grey;
        border-radius: 40px;
        height: 60vh;
        width: 80vw;
    }

    .flight {
        display: flex;
        height: 70vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .flightBook {
        text-align: center;
    }

    .img1 {
        height: 120px;
        width: 120px;
    }

    .flightClass {
        border: 1px solid grey;
        border-radius: 10px;
        font-size: 20px;
        height: 40px;
        font-family: "Roboto";
        font-weight: bold;
        width: 200px;
    }

    .hotels {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .imgroom1 {
        height: 30vh;
        width: 30vw;
    }

    .destination {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://assets.serenity.co.uk/58000-58999/58779/1296x864.jpg');
        opacity: 0.7;
        border-radius: 20px;
        display: flex;
        padding-left: 10px;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 30vh;
        width: 30vw;
    }

    .destination1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://tse2.mm.bing.net/th?id=OIP.SyiVk4lpHMXAnRmr_MJTXwHaE7&pid=Api&P=0&h=180');
        opacity: 0.7;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 30vh;
        width: 30vw;
    }

    .destination2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://tse4.mm.bing.net/th?id=OIP.iZkGTDUIlrm2R2N_UypNQgHaFA&pid=Api&P=0&h=180');
        opacity: 0.7;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 30vh;
        width: 30vw;
    }

    .destination4 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://tse3.mm.bing.net/th?id=OIP.MMuIJ-LonDtFtTPdaRZRjwHaE8&pid=Api&P=0&h=180');
        opacity: 0.7;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 30vh;
        width: 30vw;
    }

    .destination5 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://tse3.mm.bing.net/th?id=OIP.wZHCD6w-OQIJ-qaEj9pghwHaE8&pid=Api&P=0&h=180');
        opacity: 0.7;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 30vh;
        width: 30vw;
    }

    .destination6 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://tse1.mm.bing.net/th?id=OIP.hugAi63nd_1xMAhmT_YWvgHaE8&pid=Api&P=0&h=180');
        opacity: 0.7;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 30vh;
        width: 30vw;
    }

    .bg {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .destinationHead {
        font-family: "Monoton";
        color: white;
    }

    .card {
        width: 20vw;
    }

    .destinationPara {
        font-family: "Roboto";
        color: white;
    }

    .comp {
        font-family: "Roboto";
        font-size: 20px;
    }

    .component1 {
        font-family: "Roboto";
        font-size: 20px;
    }

    .facebook {
        height: 50px;
        width: 50px;
        margin: 10px;
    }

    .footer {
        background-color: black;
        color: white;
        margin-top: 30px;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .icon {
        display: none;
    }

    .none {
        display: none;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .motopart {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }

    .foot {
        display: none;
    }

    .btnpart {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .moto {
        width: 65vw;
        color: #ffffff;
        font-family: "Roboto";
        font-size: 60px;
        font-weight: bold;
    }

    .loginbtn {
        color: #c9a63c;
        font-size: 15px;
        font-family: "Roboto";
        font-weight: bold;
        margin-bottom: 10px;
        border-radius: 40px;
        height: 35px;
        width: 108px;
        border-width: 0px;
    }

    .tripbtn {
        color: #c9a63c;
        font-size: 15px;
        font-family: "Roboto";
        font-weight: bold;
        border-radius: 40px;
        height: 60px;
        width: 168px;
        border-width: 0px;
    }

    .header {
        font-family: "Roboto";
        color: #c9a63c;
        font-weight: bold;
        font-size: 25px;
        width: 30vw;
        padding-left: 10px;
        padding-top: 15px;
    }

    .info {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 70vw;
    }

    .bodyPart {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
    }

    li {
        margin-right: 20px;
        font-family: "Roboto";
        font-size: 15px;
    }

    .flightHead {
        font-family: "Roboto";
        font-weight: bold;
        font-size: 40px;
    }

    .flightPara {
        font-family: "Roboto";
        font-weight: bold;
        font-size: 20px;
    }

    .flightPart {
        display: flex;
        padding: 15px;
        flex-direction: row;
        justify-content: center;
        border: 1px solid grey;
        border-radius: 40px;
        height: 40vh;
        width: 80vw;
    }

    .flight {
        display: flex;
        height: 50vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .img {
        width: 400px;
        height: 350px;
    }

    .flightBook {
        text-align: center;
    }

    .img1 {
        height: 120px;
        width: 120px;
    }

    .flightClass {
        border: 1px solid grey;
        border-radius: 10px;
        font-size: 20px;
        height: 40px;
        font-family: "Roboto";
        font-weight: bold;
        width: 200px;
    }

    .hotels {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .imgroom1 {
        height: 25vh;
        width: 26vw;
    }

    .destination {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://assets.serenity.co.uk/58000-58999/58779/1296x864.jpg');
        opacity: 0.7;
        border-radius: 20px;
        display: flex;
        padding-left: 10px;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 28vh;
        width: 28vw;
    }

    .destination1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://tse2.mm.bing.net/th?id=OIP.SyiVk4lpHMXAnRmr_MJTXwHaE7&pid=Api&P=0&h=180');
        opacity: 0.7;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 28vh;
        width: 28vw;
    }

    .destination2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://tse4.mm.bing.net/th?id=OIP.iZkGTDUIlrm2R2N_UypNQgHaFA&pid=Api&P=0&h=180');
        opacity: 0.7;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 28vh;
        width: 28vw;
    }

    .destination4 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://tse3.mm.bing.net/th?id=OIP.MMuIJ-LonDtFtTPdaRZRjwHaE8&pid=Api&P=0&h=180');
        opacity: 0.7;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 28vh;
        width: 28vw;
    }

    .destination5 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://tse3.mm.bing.net/th?id=OIP.wZHCD6w-OQIJ-qaEj9pghwHaE8&pid=Api&P=0&h=180');
        opacity: 0.7;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 28vh;
        width: 28vw;
    }

    .destination6 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://tse1.mm.bing.net/th?id=OIP.hugAi63nd_1xMAhmT_YWvgHaE8&pid=Api&P=0&h=180');
        opacity: 0.7;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 28vh;
        width: 28vw;
    }

    .bg {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .destinationHead {
        font-family: "Monoton";
        color: white;
    }

    .card {
        width: 20vw;
    }

    .destinationPara {
        font-family: "Roboto";
        color: white;
    }

    .comp {
        font-family: "Roboto";
    }

    .component1 {
        font-family: "Roboto";
        font-size: 20px;
    }

    .facebook {
        height: 50px;
        width: 50px;
        margin: 10px;
    }

    .footer {
        background-color: black;
        color: white;
        margin-top: 30px;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .icon {
        display: none;
    }

    .none {
        display: none;
    }
}

.bodyPart {
    background-image: url('https://i.huffpost.com/gen/2006764/images/o-TOURIST-facebook.jpg');
}

@media screen and (min-width:768px) and (max-width:991px) {
    .motopart {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .foot {
        display: none;
    }

    .btnpart {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .moto {
        width: 65vw;
        text-align: center;
        color: #ffffff;
        font-family: "Roboto";
        font-size: 50px;
        font-weight: bold;
    }

    .loginbtn {
        color: #c9a63c;
        font-size: 12px;
        font-family: "Roboto";
        font-weight: bold;
        margin-bottom: 10px;
        border-radius: 40px;
        height: 35px;
        width: 108px;
        border-width: 0px;
    }

    .tripbtn {
        color: #c9a63c;
        font-size: 15px;
        font-family: "Roboto";
        font-weight: bold;
        border-radius: 40px;
        height: 55px;
        width: 168px;
        border-width: 0px;
    }

    .header {
        font-family: "Roboto";
        color: #c9a63c;
        font-weight: bold;
        font-size: 25px;
        width: 30vw;
        padding-left: 10px;
        padding-top: 15px;
    }

    .info {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 70vw;
    }

    .bodyPart {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
    }

    li {
        margin-right: 20px;
        font-family: "Roboto";
        font-size: 12px;
    }

    .flightHead {
        font-family: "Roboto";
        font-weight: bold;
        font-size: 40px;
    }

    .flightPara {
        font-family: "Roboto";
        font-weight: bold;
        font-size: 20px;
    }

    .flightPart {
        display: flex;
        padding: 15px;
        flex-direction: row;
        justify-content: center;
        border: 1px solid grey;
        border-radius: 40px;
        height: 40vh;
        width: 80vw;
    }

    .flight {
        display: flex;
        height: 50vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .img {
        width: 300px;
        height: 300px;
    }

    .flightBook {
        text-align: center;
    }

    .img1 {
        height: 120px;
        width: 120px;
    }

    .flightClass {
        border: 1px solid grey;
        border-radius: 10px;
        font-size: 20px;
        height: 40px;
        font-family: "Roboto";
        font-weight: bold;
        width: 200px;
    }

    .hotels {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .imgroom1 {
        height: 20vh;
        width: 23vw;
    }

    .destination {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://assets.serenity.co.uk/58000-58999/58779/1296x864.jpg');
        opacity: 0.7;
        border-radius: 20px;
        display: flex;
        padding-left: 10px;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 26vh;
        width: 26vw;
    }

    .destination1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://tse2.mm.bing.net/th?id=OIP.SyiVk4lpHMXAnRmr_MJTXwHaE7&pid=Api&P=0&h=180');
        opacity: 0.7;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 26vh;
        width: 26vw;
    }

    .destination2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://tse4.mm.bing.net/th?id=OIP.iZkGTDUIlrm2R2N_UypNQgHaFA&pid=Api&P=0&h=180');
        opacity: 0.7;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 26vh;
        width: 26vw;
    }

    .destination4 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://tse3.mm.bing.net/th?id=OIP.MMuIJ-LonDtFtTPdaRZRjwHaE8&pid=Api&P=0&h=180');
        opacity: 0.7;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 26vh;
        width: 26vw;
    }

    .destination5 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://tse3.mm.bing.net/th?id=OIP.wZHCD6w-OQIJ-qaEj9pghwHaE8&pid=Api&P=0&h=180');
        opacity: 0.7;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 26vh;
        width: 26vw;
    }

    .destination6 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://tse1.mm.bing.net/th?id=OIP.hugAi63nd_1xMAhmT_YWvgHaE8&pid=Api&P=0&h=180');
        opacity: 0.7;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 26vh;
        width: 26vw;
    }

    .bg {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .destinationHead {
        font-family: "Monoton";
        color: white;
    }

    .card {
        width: 20vw;
    }

    .destinationPara {
        font-family: "Roboto";
        color: white;
    }

    .comp {
        font-family: "Roboto";
        font-size: 20px;
    }

    .component1 {
        font-family: "Roboto";
        font-size: 20px;
    }

    .facebook {
        height: 50px;
        width: 50px;
        margin: 10px;
    }

    .footer {
        background-color: black;
        color: white;
        margin-top: 30px;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .icon {
        display: none;
    }

    .none {
        display: none;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .motopart {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .foot {
        display: none;
    }

    .btnpart {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .moto {
        color: #ffffff;
        width: 50vw;
        font-family: "Roboto";
        font-size: 50px;
        text-align: center;
        font-weight: bold;
    }

    .loginbtn {
        color: #c9a63c;
        font-size: 15px;
        font-family: "Roboto";
        font-weight: bold;
        margin-bottom: 10px;
        border-radius: 40px;
        height: 35px;
        width: 108px;
        border-width: 0px;
    }

    .tripbtn {
        color: #c9a63c;
        font-size: 12px;
        font-family: "Roboto";
        font-weight: bold;
        border-radius: 40px;
        height: 38px;
        width: 138px;
        border-width: 0px;
    }

    .header {
        font-family: "Roboto";
        color: #c9a63c;
        font-weight: bold;
        font-size: 25px;
        width: 30vw;
        padding: 10px;
    }

    .info {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 70vw;
    }

    .bodyPart {
        height: 100vh;
        display: flex;
        background-repeat: no-repeat;
        background-position: center top;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
    }

    li {
        margin-right: 20px;
        font-family: "Roboto";
        font-size: 15px;
    }

    .flightHead {
        font-family: "Roboto";
        font-weight: bold;
        font-size: 30px;
    }

    .flightPara {
        font-family: "Roboto";
        font-weight: bold;
        font-size: 20px;
    }

    .flightPart {
        display: flex;
        padding: 15px;
        flex-direction: row;
        justify-content: center;
        border: 1px solid grey;
        border-radius: 40px;
        height: 50vh;
        width: 80vw;
    }

    .flight {
        display: flex;
        height: 60vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .img {
        width: 250px;
        height: 250px;
    }

    .flightBook {
        text-align: center;
    }

    .img1 {
        height: 120px;
        width: 120px;
    }

    .flightClass {
        border: 1px solid grey;
        border-radius: 10px;
        font-size: 20px;
        height: 40px;
        font-family: "Roboto";
        font-weight: bold;
        width: 200px;
    }

    .small {
        display: none;
    }

    .hotels {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .imgroom1 {
        height: 30vh;
        width: 30vw;
    }

    .destination {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://assets.serenity.co.uk/58000-58999/58779/1296x864.jpg');
        opacity: 0.7;
        border-radius: 20px;
        display: flex;
        padding-left: 10px;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 25vh;
        width: 25vw;
    }

    .destination1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://tse2.mm.bing.net/th?id=OIP.SyiVk4lpHMXAnRmr_MJTXwHaE7&pid=Api&P=0&h=180');
        opacity: 0.7;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 25vh;
        width: 25vw;
    }

    .destination2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://tse4.mm.bing.net/th?id=OIP.iZkGTDUIlrm2R2N_UypNQgHaFA&pid=Api&P=0&h=180');
        opacity: 0.7;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 25vh;
        width: 25vw;
    }

    .destination4 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://tse3.mm.bing.net/th?id=OIP.MMuIJ-LonDtFtTPdaRZRjwHaE8&pid=Api&P=0&h=180');
        opacity: 0.7;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 25vh;
        width: 25vw;
    }

    .destination5 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://tse3.mm.bing.net/th?id=OIP.wZHCD6w-OQIJ-qaEj9pghwHaE8&pid=Api&P=0&h=180');
        opacity: 0.7;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 25vh;
        width: 25vw;
    }

    .destination6 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://tse1.mm.bing.net/th?id=OIP.hugAi63nd_1xMAhmT_YWvgHaE8&pid=Api&P=0&h=180');
        opacity: 0.7;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 25vh;
        width: 25vw;
    }

    .bg {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .destinationHead {
        font-family: "Monoton";
        color: white;
        font-size: 20px;
    }

    .card {
        width: 20vw;
    }

    .destinationPara {
        font-family: "Roboto";
        color: white;
        font-size: 20px;
    }

    .comp {
        font-family: "Roboto";
        font-size: 18px;
    }

    .component1 {
        font-family: "Roboto";
        font-size: 18px;
    }

    .facebook {
        height: 40px;
        width: 40px;
        margin: 10px;
    }

    .footer {
        background-color: black;
        color: white;
        margin-top: 30px;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .icon {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .types {
        display: none;
    }
}

@media screen and (max-width:575px) {
    .motopart {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .btnpart {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .moto {
        color: #ffffff;
        text-align: center;
        font-family: "Roboto";
        font-size: 26px;
        font-weight: bold;
    }

    .data {
        display: none;
    }

    .icon {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .loginbtn {
        color: #c9a63c;
        font-size: 15px;
        font-family: "Roboto";
        font-weight: bold;
        margin-bottom: 10px;
        border-radius: 40px;
        height: 35px;
        width: 108px;
        border-width: 0px;
    }

    .tripbtn {
        color: #c9a63c;
        font-size: 12px;
        font-family: "Roboto";
        font-weight: bold;
        border-radius: 40px;
        height: 25px;
        width: 108px;
        border-width: 0px;
    }

    .header {
        font-family: "Roboto";
        color: #c9a63c;
        font-weight: bold;
        font-size: 22px;
        width: 30vw;
        padding: 10px;
    }

    .info {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 70vw;
    }

    .bodyPart {
        height: 92vh;
        display: flex;
        background-position: 60% 50%;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
    }

    li {
        margin-right: 20px;
        font-family: "Roboto";
        font-size: 15px;
    }

    .flightHead {
        font-family: "Roboto";
        font-weight: bold;
        font-size: 20px;
    }

    .flightPara {
        font-family: "Roboto";
        font-weight: bold;
        font-size: 15px;
    }

    .flightPart {
        display: flex;
        padding: 15px;
        flex-direction: row;
        justify-content: center;
        border: 1px solid grey;
        border-radius: 40px;
        height: 40vh;
        width: 80vw;
    }

    .flight {
        display: flex;
        height: 50vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .flightBook {
        text-align: center;
    }

    .img1 {
        height: 80px;
        width: 80px;
    }

    .flightClass {
        border: 1px solid grey;
        border-radius: 10px;
        font-size: 15px;
        height: 30px;
        font-family: "Roboto";
        font-weight: bold;
        width: 180px;
    }

    .img {
        width: 100px;
        height: 100px;
    }

    .small {
        display: none;
    }

    .hotels {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .imgroom1 {
        height: 20vh;
        width: 30vw;
    }

    .destination {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://assets.serenity.co.uk/58000-58999/58779/1296x864.jpg');
        opacity: 0.7;
        border-radius: 20px;
        display: flex;
        padding-left: 10px;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 50vh;
        margin-bottom: 20px;
        width: 70vw;
    }

    .destination1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://tse2.mm.bing.net/th?id=OIP.SyiVk4lpHMXAnRmr_MJTXwHaE7&pid=Api&P=0&h=180');
        opacity: 0.7;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 50vh;
        margin-bottom: 20px;
        width: 70vw;
    }

    .destination2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://tse4.mm.bing.net/th?id=OIP.iZkGTDUIlrm2R2N_UypNQgHaFA&pid=Api&P=0&h=180');
        opacity: 0.7;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 50vh;
        width: 70vw;
        margin-bottom: 20px;
    }

    .destination4 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://tse3.mm.bing.net/th?id=OIP.MMuIJ-LonDtFtTPdaRZRjwHaE8&pid=Api&P=0&h=180');
        opacity: 0.7;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 50vh;
        width: 70vw;
        margin-bottom: 20px;
    }

    .destination5 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://tse1.mm.bing.net/th?id=OIP.hugAi63nd_1xMAhmT_YWvgHaE8&pid=Api&P=0&h=180');
        opacity: 0.7;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 50vh;
        width: 70vw;
        margin-bottom: 20px;
    }

    .destination6 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://tse3.mm.bing.net/th?id=OIP.wZHCD6w-OQIJ-qaEj9pghwHaE8&pid=Api&P=0&h=180');
        opacity: 0.7;
        margin-bottom: 20px;
        border-radius: 20px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        height: 50vh;
        width: 70vw;
    }

    .bg {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .destinationHead {
        font-family: "Monoton";
        color: white;
    }

    .card {
        width: 50vw;
    }

    .destinationPara {
        font-family: "Roboto";
        color: white;
    }

    .comp {
        font-family: "Roboto";
        font-size: 14px;
    }

    .component1 {
        font-family: "Roboto";
        font-size: 14px;
    }

    .facebook {
        height: 20px;
        width: 20px;
        margin: 10px;
    }

    .footer {
        background-color: black;
        color: white;
        margin-top: 30px;
        text-align: center;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .foot {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .types {
        display: none;
    }
}